* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    color: #f8f3e6;
}

#signUp-container {
    display: flex;
    /* background-color: #f8f3e6; */
    background: rgb(70,29,37);
    background: radial-gradient(circle, rgba(70,29,37,1) 0%, rgba(5,57,119,1) 50%, rgba(170,115,124,1) 100%);
    width: 100%;
    height: 100%;
}

#signUpData {
    /* border-right: rgb(255, 4, 4) dotted; */
    width: calc(100%/2);
    position: relative;
}

#signUpData img {
    width: 100%;
    height: 820px;
    position: absolute;
    top: -65px;
    left: 25px;
    /* background: rgb(21,56,129); */
    /* background: radial-gradient(circle, rgba(21,56,129,1) 0%, rgba(153,26,26,1) 50%, rgba(194,150,88,1) 100%); */
}

#left-side {
    position: absolute;
    top: 40px;
    left: 120px;
    /* margin: 43px; */
    padding: 30px 150px 40px 150px;
    text-align: center;
    /* background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(248,243,230,1) 100%); */
}

#signUp-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
    /* background-color: brown; */
}

#SignUp-Start input {
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
}

::placeholder {
    color: #f8f3e6;
    font-size: 13px;
    position: relative;
    left: 10px;
    /* bottom: 5px; */
}

#left-side input {
    /* height: 25px; */
    background-color: transparent;
    border-radius: 10px;
    border-color:#192829;

}

#SignUp-Start {
     /* background-color: darkkhaki; */
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

#SignUp-Start, #Send-To-Next {
    /* background-color: darkgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#SignUp-Start button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    /* background-color: transparent; */
    height: 40px;
    width: 220px;
    /* border: none; */
    background-color: #192829;
    color: #f8f3e6;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    border-color:#192829;
    /* background-color: transparent; */
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

#SignUp-Start button:hover {
    background-color: #518699;
}

#signup-another-way {
    text-align: center;
    /* background-color: rgb(210, 30, 150); */
    margin-bottom: 20px;
}

#Alt-Sign-up-Options {
    /* background-color: darkgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#Alt-Sign-up-Options button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    /* background-color: transparent; */
    height: 40px;
    width: 220px;
    /* border: none; */
    background-color: #192829;
    color: #f8f3e6;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    border-color:#192829;
    /* background-color: transparent; */
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

#Alt-Sign-up-Options button:hover {
    background-color: #518699;
}

#Link-To-Login {
    /* background-color: deepskyblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#Link-To-Login button {
    margin-top: 60px;
    height: 40px;
    width: 220px;
    /* border: none; */
    background-color: #192829;
    color: #f8f3e6;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    border-color:#192829;
    /* background-color: transparent; */
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

#Link-To-Login button:hover {
    background-color: #518699;
}

#SignUp-Photo {
    width: calc(100%/2);
    position: relative;
    left: 10px;
}

#SignUp-Photo img {
    height: 100%;
    width: 100%;
}

#postioner {
    display: flex;
    flex-direction: column;
    margin-top: -6px;
}

#SignUp-Continued {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signUp-title-continued {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 41px;
    z-index: 99;
    /* background-color: brown; */
}

#SignUp-Continued form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 75px;
    box-sizing: border-box;
}

#SignUp-Continued h1 {
    padding-bottom: 40px;
}

#SignUp-Continued p {
    padding: 15px 0 15px 0;
}

#SignUp-Continued input {
    height: 40px;
    width: 300px;
    background-color: transparent;
    border-radius: 10px;
    border-color:#192829;
}

#SignUp-Continued button {
    margin-top: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    height: 40px;
    width: 300px;
    background-color: #192829;
    color: #f8f3e6;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    border-color:#192829;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

#SignUp-Continued button:hover {
    background-color: #518699;
}
